npm-debug.log
.sass-cache/
node_modules
public/bundle.js
public/stylesheets/variables.css
public/stylesheets/variables.css.map
public/stylesheets/application.css
public/stylesheets/application.css.map
dist/
.DS_Store
