<div class="container">
  <div class="title">Oscillator</div>

  <div class="label" id="volume-label">Volume</div>
  <input type="range" min="0" max="100" class="volume" value="100">
</div>
  <div class="keyboard">
    <div class="black-key" id="key-W"></div>
    <div class="black-key" id="key-E"></div>
    <div class="black-key" id="key-T"></div>
    <div class="black-key" id="key-Y"></div>
    <div class="black-key" id="key-U"></div>
    <div class="key" id="key-A"></div>
    <div class="key" id="key-S"></div>
    <div class="key" id="key-D"></div>
    <div class="key" id="key-F"></div>
    <div class="key" id="key-G"></div>
    <div class="key" id="key-H"></div>
    <div class="key" id="key-J"></div>
    <div class="key" id="key-K"></div>
  </div>
<script>
  var contextClass = (window.AudioContext ||
    window.webkitAudioContext ||
    window.mozAudioContext ||
    window.oAudioContext ||
    window.msAudioContext);
  if (contextClass) {
    var context = new contextClass();
  } else {
    $(document).append('<div class="errors">Sorry, your browser is not supported.</div>');
  }

  var initialFrequency = 261.63;
  var initialVolume = 0;
  var currentVolume = 0.8;
  var $key = $(".key");
  var keysDown = [];
  var oscillators = [];


  var int = function () {
    for (var i = 0; i < 13; i++) {
      var osc = new Oscillator(context, initialFrequency, initialVolume);
      oscillators.push(osc);
    }
  };

  int();

  oscillators.forEach(function (osc) {
    osc.connect();
  });
  var keys = {
    'A': {
      key: 65,
      index: 0,
      freq: 261.63
    },
    'W': {
      key: 87,
      index: 1,
      freq: 277.18
    },
    'S': {
      key: 83,
      index: 2,
      freq: 293.66
    },
    'E': {
      key: 69,
      index: 3,
      freq: 311.13
    },
    'D': {
      key: 68,
      index: 4,
      freq: 329.63
    },
    'F': {
      key: 70,
      index: 5,
      freq: 349.23
    },
    'T': {
      key: 84,
      index: 6,
      freq: 369.99
    },
    'G': {
      key: 71,
      index: 7,
      freq: 392.00
    },
    'Y': {
      key: 89,
      index: 8,
      freq: 415.30
    },
    'H': {
      key: 72,
      index: 9,
      freq: 440.00
    },
    'U': {
      key: 85,
      index: 10,
      freq: 466.16
    },
    'J': {
      key: 74,
      index: 11,
      freq: 493.88
    },
    'K': {
      key: 75,
      index: 12,
      freq: 523.25
    }
  };

  $('.volume').change(function () {
    currentVolume = (this.value / 100) * 0.8;
  });

  $(document).keydown(function (e) {
    if (keysDown.indexOf(e.which) === -1) {
      var char = String.fromCharCode(e.which);
      var key = keys[char];
      if (key) {
        oscillators[key.index].updateNote(key.freq);
        oscillators[key.index].updateVolume(currentVolume);
        keysDown.push(e.which);
        $("#key-" + char).addClass("keyon");
      }
    }
  });

  $(document).keyup(function (e) {
    var char = String.fromCharCode(e.which);
    var key = keys[char];
    if (key) {
      oscillators[key.index].updateVolume(0);
      $("#key-" + char).removeClass("keyon");
      keysDown.pop(e.which);
    }
  });
</script>