<div class="container">
    <div class="title">Oscillator</div>
    <button class="on">On</button>
    <button class="off">Off</button>

    <div class="label" id="frequency-label">Frequency</div>
    <input type="range" min="0" max="100" class="frequency" value="2.6" onchange="updateFrequency(this.value)">

    <div class="label" id="volume-label">Volume</div>
    <input type="range" min="0" max="100" class="volume" value="100" onchange="updateVolume(this.value)">
</div>
<div class="keyboard">
    <div class="key"></div>
    <div class="key"></div>
    <div class="key"></div>
    <div class="key"></div>
    <div class="key"></div>
    <div class="key"></div>
    <div class="key"></div>
    <div class="key"></div>
    <div class="key"></div>
</div>
<script>
    var contextClass = (window.AudioContext ||
            window.webkitAudioContext ||
            window.mozAudioContext ||
            window.oAudioContext ||
            window.msAudioContext);
    if (contextClass) {
        var context = new contextClass();
    } else {
        $(document).append('<div class="errors">Sorry, your browser is not supported.</div>');
    }

    var initialFrequency = 261.63;
    var initialVolume = 0;
    var currentVolume = 0.2;
    var $key = $(".key");
    var keysDown = [];
    var oscillators = [];

    for (var i = 0; i < 10; i++) {
      var osc = new Oscillator(context, initialFrequency, initialVolume);
      oscillators.push(osc);
    }

    $(document).keypress(function(e) {
      if (e.which === 111) {
        osc.connect();
      }
    });

    $(document).on("click", ".on", function () {
        oscillators.forEach(function(osc) {
          osc.connect();
        });
    });

    $(document).on("click", ".off", function () {
        osc.disconnect();
    });

    $(document).keydown(function(e) {
      console.log(e.which);
      if(keysDown.indexOf(e.which) === -1) {
        if (e.which === 65) {
            oscillators[0].updateNote(261.63);
            oscillators[0].updateVolume(100);
            $(".keyboard .key:nth-child(1)").toggleClass("keyon");
        } else if (e.which === 83) {
          oscillators[1].updateNote(293.66);
          oscillators[1].updateVolume(100);
            $(".keyboard .key:nth-child(2)").toggleClass("keyon");
        } else if (e.which === 68) {
          oscillators[2].updateNote(329.63);
          oscillators[2].updateVolume(100);
            $(".keyboard .key:nth-child(3)").toggleClass("keyon");
        } else if (e.which === 70) {
          oscillators[3].updateNote(349.23);
          oscillators[3].updateVolume(100);
            $(".keyboard .key:nth-child(4)").toggleClass("keyon");
        } else if (e.which === 71) {
          oscillators[4].updateNote(392.00);
          oscillators[4].updateVolume(100);
            $(".keyboard .key:nth-child(5)").toggleClass("keyon");
        } else if (e.which === 72) {
            oscillators[5].updateNote(440.00);
            oscillators[5].updateVolume(100);
            $(".keyboard .key:nth-child(6)").toggleClass("keyon");
        } else if (e.which === 74) {
            oscillators[6].updateNote(493.88);
            oscillators[6].updateVolume(100);
            $(".keyboard .key:nth-child(7)").toggleClass("keyon");
        } else if (e.which === 75) {
            oscillators[7].updateNote(523.25);
            oscillators[7].updateVolume(100);
            $(".keyboard .key:nth-child(8)").toggleClass("keyon");
        } else if (e.which === 76) {
            oscillators[8].updateNote(587.33);
            oscillators[8].updateVolume(100);
            $(".keyboard .key:nth-child(9)").toggleClass("keyon");
        }
      }
      keysDown.push(e.which);
    });

    $(document).keyup(function(e) {
      if (e.which === 65) {
            oscillators[0].updateVolume(0);
            $(".keyboard .key:nth-child(1)").toggleClass("keyon");
        } else if (e.which === 83) {
            oscillators[1].updateVolume(0);
             $(".keyboard .key:nth-child(2)").toggleClass("keyon");
        } else if (e.which === 68) {
            oscillators[2].updateVolume(0);
           $(".keyboard .key:nth-child(3)").toggleClass("keyon");
        } else if (e.which === 70) {
            oscillators[3].updateVolume(0);
            $(".keyboard .key:nth-child(4)").toggleClass("keyon");
        } else if (e.which === 71) {
            oscillators[4].updateVolume(0);
             $(".keyboard .key:nth-child(5)").toggleClass("keyon");
        } else if (e.which === 72) {
            oscillators[5].updateVolume(0);
            $(".keyboard .key:nth-child(6)").toggleClass("keyon");
        } else if (e.which === 74) {
            oscillators[6].updateVolume(0);
            $(".keyboard .key:nth-child(7)").toggleClass("keyon");
        } else if (e.which === 75) {
            oscillators[7].updateVolume(0);
            $(".keyboard .key:nth-child(8)").toggleClass("keyon");
        } else if (e.which === 76) {
            oscillators[8].updateVolume(0);
            $(".keyboard .key:nth-child(9)").toggleClass("keyon");
        }
      keysDown.pop(e.which);
    });
</script>