<div class="container">
    <div class="title">Oscillator</div>
    <button class="on">On</button>
    <button class="off">Off</button>

    <div class="label" id="frequency-label">Frequency</div>
    <input type="range" min="0" max="100" class="frequency" value="2.6" onchange="updateFrequency(this.value)">

    <div class="label" id="volume-label">Volume</div>
    <input type="range" min="0" max="100" class="volume" value="100" onchange="updateVolume(this.value)">
</div>
<div class="keyboard">
    <div class="key"></div>
    <div class="key"></div>
    <div class="key"></div>
    <div class="key"></div>
    <div class="key"></div>
    <div class="key"></div>
    <div class="key"></div>
    <div class="key"></div>
</div>
<script>
    var contextClass = (window.AudioContext ||
            window.webkitAudioContext ||
            window.mozAudioContext ||
            window.oAudioContext ||
            window.msAudioContext);
    if (contextClass) {
        var context = new contextClass();
    } else {
        $(document).append('<div class="errors">Sorry, your browser is not supported.</div>');
    }

    var initialFrequency = 261.63;
    var initialVolume = 0.2;
    var currentVolume = 0.2;
    var $key = $(".key");
    var osc = new Oscillator(context, initialFrequency, initialVolume);
    $(document).keypress(function(e) {
      if (e.which === 111) {
        osc.connect();
      }
    });

    $(document).on("click", ".on", function () {
        osc.connect();
    });

    $(document).on("click", ".off", function () {
        osc.disconnect();
    });

    $(document).keypress(function(e) {
        if (e.which === 97) {
            osc.updateNote(261.63);
            osc.updateVolume(100);
            $(".keyboard .key:nth-child(1)").toggleClass("keyon");
        } else if (e.which === 115) {
            osc.updateNote(293.66);
            osc.updateVolume(100);
            $(".keyboard .key:nth-child(2)").toggleClass("keyon");
        } else if (e.which === 100) {
            osc.updateNote(329.63);
            osc.updateVolume(100);
            $(".keyboard .key:nth-child(3)").toggleClass("keyon");
        } else if (e.which === 102) {
            osc.updateNote(349.23);
            osc.updateVolume(100);
            $(".keyboard .key:nth-child(4)").toggleClass("keyon");
        } else if (e.which === 103) {
            osc.updateNote(392.00);
            osc.updateVolume(100);
            $(".keyboard .key:nth-child(5)").toggleClass("keyon");
        } else if (e.which === 104) {
            osc.updateNote(440.00);
            osc.updateVolume(100);
            $(".keyboard .key:nth-child(6)").toggleClass("keyon");
        } else if (e.which === 106) {
            osc.updateNote(493.88);
            osc.updateVolume(100);
            $(".keyboard .key:nth-child(7)").toggleClass("keyon");
        } else if (e.which === 107) {
            osc.updateNote(523.25);
            osc.updateVolume(100);
            $(".keyboard .key:nth-child(8)").toggleClass("keyon");
        } else if (e.which === 108) {
            osc.updateNote(587.33);
            osc.updateVolume(100);
            $(".keyboard .key:nth-child(9)").toggleClass("keyon");
        }
    });

    $(document).keyup(function(e) {
        if (e.which === 65) {
            osc.updateVolume(0);
            $(".keyboard .key:nth-child(1)").toggleClass("keyon");
        } else if (e.which === 83) {
            osc.updateVolume(0);
            $(".keyboard .key:nth-child(2)").toggleClass("keyon");
        } else if (e.which === 68) {
            osc.updateVolume(0);
            $(".keyboard .key:nth-child(3)").toggleClass("keyon");
        } else if (e.which === 70) {
            osc.updateVolume(0);
            $(".keyboard .key:nth-child(4)").toggleClass("keyon");
        } else if (e.which === 71) {
            osc.updateVolume(0);
            $(".keyboard .key:nth-child(5)").toggleClass("keyon");
        } else if (e.which === 72) {
            osc.updateVolume(0);
            $(".keyboard .key:nth-child(6)").toggleClass("keyon");
        } else if (e.which === 74) {
            osc.updateVolume(0);
            $(".keyboard .key:nth-child(7)").toggleClass("keyon");
        } else if (e.which === 75) {
            osc.updateVolume(0);
            $(".keyboard .key:nth-child(8)").toggleClass("keyon");
        } else if (e.which === 76) {
            osc.updateVolume(0);
            $(".keyboard .key:nth-child(9)").toggleClass("keyon");
        }
    });
</script>