<html>
<head>
  <title>Scribble</title>
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/javascripts/Oscillator.js"></script>
  <script type="text/javascript" src="/javascripts/OscillatorController.js"></script>
  <script type="text/javascript" src="/javascripts/DrumMachine.js"></script>
  <script type="text/javascript" src="/javascripts/DrumController.js"></script>
  <script type="text/javascript" src="/javascripts/Keyboard.js"></script>
  <script type="text/javascript" src="/vendors/javascripts/jquery.2.1.1.js"></script>
  <link href='//fonts.googleapis.com/css?family=Cedarville+Cursive|Geo' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="layout">
  <div class="content-container">
    <%= yield %>
  </div>
</div>
</body>
</html>
