<html>
<head>
  <title>Web Synthesizer</title>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/javascripts/Oscillator.js"></script>
  <script type="text/javascript" src="/vendors/javascripts/jquery.2.1.1.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive|Geo' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="layout">
  <div class="content-container">
    <%= yield %>
  </div>
</div>
</body>
</html>