body {
    width: 100%;
    font-family: 'Geo', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.title{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.8em;
}

.container {
    width: 30%;
    margin: .6em auto;
    padding: .6em .6em 1.2em .6em;
    background-color: #eeeeee;
    border: .4em solid #b94d07;
    text-align: center;
}

button {
    font-size: 1em;
    font-family: 'Geo', sans-serif;
    background: #fff;
    border: 2px solid #29009a;
    outline: none;
}

button:hover{
    background: #ffe2e7;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: silver;
    width: 200px;
    height:20px;
    border-radius: 2em;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #b94d07;
    border: 2px solid black;
    width: 2em;
    height: 2em;
    border-radius: 2em;
}

.keyboard {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 17.9em;
}

.key {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 10em;
    width: 2em;
    border: .3em solid black;
    background: #fff
}

.black-key {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    vertical-align: top;
    display: inline-block;
    height: 7em;
    width: 1.4em;
    border: .3em solid black;
    background: #000;
    margin: 0;
}
.black-key:nth-child(1) {
    left: 1.7em;
}
.black-key:nth-child(2) {
    left: 3.8em;
}
.black-key:nth-child(3) {
    left: 8.2em;
}
.black-key:nth-child(4) {
    left: 10.4em;
}
.black-key:nth-child(5) {
    left: 12.6em;
}

.keyon {
    background: rgba(163, 116, 21, 0.55);
}

.drum-button {
    width: 3em;
    height: 1em;
    border: .3em solid black;
    cursor: pointer;
}

.drum-button:hover {
    background: #29009a;
}