@import "variables";

body {
    width: 100%;
    font-family: 'Geo', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.title {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.8em;
    color: $fourth-color
}

.container {
    width: 30%;
    margin: .6em auto;
    padding: .6em .6em 1.2em .6em;
    background-color: #eeeeee;
    border: .4em solid $primary-color;
    text-align: center;
}

button {
    font-size: 1em;
    font-family: 'Geo', sans-serif;
    background: #fff;
    border: 2px solid $second-color;
    outline: none;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: rgba(192,192,192,.7);
    width: 200px;
    height: 20px;
    border-radius: 2em;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $fifth-color;
    border: 2px solid $fourth-color;
    width: 2em;
    height: 2em;
    border-radius: 2em;
}

.keyboard {
    margin: 0 auto;
    width: 18em;
}

.keyboard:before,
.keyboard:after {
    overflow: hidden;
    display: block;
    zoom: 1;
    content: ' ';
}

.keyboard:after {
    clear: both;
}

.key {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 10em;
    width: 2em;
    border: .3em solid black;
    background: #fff
}

.key + .key {
    margin-left: .25em;
}

.black-key {
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 7em;
    width: 1.4em;
    border: .3em solid black;
    background: #000;
    margin-left: -.6em;
    margin-right: -.6em;
}

.keyon {
    background: $third-color;
}

.drum-machine {
    margin: .5em auto;
    width: 80%;
    text-align: center;
}

.drum-button {
    width: 3em;
    height: 1em;
    border: .3em solid black;
    cursor: pointer;
    display: inline-block;
  &:hover {
    display: inline-block;
    background: $second-color;
  }
}

.drum-button:hover {

}

.drum-button-active {
    border: .3em solid $primary-color;
}

.drum-button-selected {
    background: $second-color;
}